<h1>Welcome#index</h1>


<h2>My first React Component!</h2>

<div id="comments">
  <%= react_component 'CommentBox', commentsPath: comments_path %>
</div>

<%= form_for @comment, url: comments_path, html: {method: :post} do |f| %>
  Name: <%= f.text_field  :author %>
  Comment: <%= f.text_area  :text %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
